{{!< default}}
{{#contentFor "styles"}}
  <link href="/dist/author.css" rel="stylesheet"/>
{{/contentFor}}
<header class="page-container page-container__header author-header" itemtype="http://schema.org/Person">
  {{#primary_author}}
    {{#if img_url}}
      <figure class="author-avatar">
        <img src="{{img_url}}" alt="{{name}}" itemprop="image" />
      </figure>
    {{/if}}

    <div class="author-bio center">
      <h1 class="page-container__header--title" itemprop="name">{{name}}</h1>

      {{#if bio}}
        <p class="author-bio__about">
          {{{bio}}}
        </p>
      {{/if}}
    </div>
  {{/primary_author}}
</header>

<main class="page-container" role="main">
  {{> "loop"}}
</main>

{{pagination}}
