<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/intro.css"}}" />

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">

    <section class="page">
      <header class="page-header">
        <a href="{{@blog.url}}" class="page-header-logo">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </a>
      </header>

      {{{body}}}

      <footer class="page-footer">
        <section class="copyright">
          <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
        </section>
      </footer>
    </section>

    {{! Intro. Shows before assets loads. }}
    <div class="intro"></div>

    {{! Assets }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Slabo+27px' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{ghost_foot}}
  </body>
</html>
