<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{! Assets }}
    <!--<link rel="stylesheet" type="text/css" href="" />
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Slabo+27px' rel='stylesheet' type='text/css'>-->

    {{ghost_head}}
  </head>
  <body class="page {{body_class}}">

    {{{body}}}

    <footer class="page-footer">
      <div class="page-footer-brand" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <a href="{{@blog.url}}" class="page-footer-logo" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" role="logo" />
          <meta itemprop="url" content="{{@blog.logo}}">
          <meta itemprop="width" content="320">
          <meta itemprop="height" content="160">
        </a>
        <meta itemprop="name" content="{{@blog.title}}">
        <meta itemprop="url" content="{{@blog.url}}">
        <meta itemprop="mainEntityOfPage" content="{{@blog.url}}">
      </div>

      <section class="copyright">
        <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      </section>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript">!function(e,t,h){e.type="text/css",e.rel="stylesheet",e.href="{{asset "css/screen.css"}}",t.type="text/css",t.rel="stylesheet",t.href="https://fonts.googleapis.com/css?family=Fjalla+One|Slabo+27px",h.appendChild(t),h.appendChild(e)}(document.createElement("link"),document.createElement("link"),document.getElementsByTagName("head")[0]);</script>
  </body>
</html>
