{{!< default}}

{{#post}}

<main class="page-container post {{post_class}}" role="main">
  <header="page-container__header">
    <h1 class="page-container__header--title">{{title}}</h1>

    <section class="page-container__header--meta"></section>
  </header>

  <article class="page-container__content post-content">
    {{content}}
  </article>

  <footer class="page-container__footer">
    {{#author}}
      <section class="post-author">

        {{#if image}}
          <figure class="post-author-avatar">
            <img src="{{image}}" alt="{{name}}" />
          </figure>
        {{/if}}

        <article class="post-author-bio">
          <span class="post-author-name"><a href="{{url}}">{{name}}</a></span>
          {{#if bio}}
            <p class="post-author-about">{{{bio}}}</p>
          {{/if}}
  			</article>

      </section>
    {{/author}}

    <aside class="post-comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
        this.page.url = {{url}}; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{post.id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//leandrodiasnet.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </aside>
  </footer>

  <aside class="page-container__sidebar post-related">
    {{#prev_post}}
      <a class="post-nav-prev" href="{{url}}">
        <section class="post-nav-teaser">
          <i class="ic ic-arrow-right"></i>
          <h2 class="post-nav-title">{{title}}</h2>
          <p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
        </section>
      </a>
    {{/prev_post}}
    {{#next_post}}
			<a class="post-nav-next" href="{{url}}">
				<section class="post-nav-teaser">
					<i class="ic ic-arrow-left"></i>
					<h2 class="post-nav-title">{{title}}</h2>
					<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
				</section>
			</a>
		{{/next_post}}
  </aside>
</main>

{{/post}}
